* {
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
    height: 1500px;
    margin: 10px;
    background-color: rgb(255, 218, 187);
}

header {
    height: auto;
    background-image: url('http://u01.appmifile.com/images/2016/06/19/d2f383a2-2e76-44b8-acab-283771f7be80.jpg');
    margin: 5px;
    border: 1px solid black;
    width: auto;
    border-radius: 5px;
    background-position: center top;
}

h1 {
    position:relative;
    top: 10%;
    text-align: center;
    margin:15px;
    color: #2727ce;
    font-size: 30px;

}
h1::first-letter {
    font-size: 34px;
    text-transform: uppercase
}

h2 {
    position: relative;
    text-align: center;
    margin: 15px;
    color:#2727ce;
    font-size:30px
}

h2::first-letter {
    font-size: 34px;
    text-transform: uppercase
}

section {
    margin: 5px;
    border: 1px solid black;
    width: auto;
    border-radius:5px;
    text-align: center;
    height: auto;
}
#posizione{
    height: 3%;
    background-color: #cccccc;
}

#dati {
    height: 50%;
    background-color: white;
}

h3 {
    color: #2727ce;
    font-weight: bold;
    font-size: 34px;
    margin: 15px;

}
h3::first-letter {
    font-size: 34px;
    text-transform: uppercase
}
#icona {
    width:50px;

}
section p {
    text-align: center;
    margin: auto;
}

table {
    width: 40%;
    height: auto;
    float: left;
    margin: 5px;
    border: 1px solid black;

}
table tr td {
    border: 1px solid black;
    padding: 10px 5px;
    vertical-align: middle;
    text-transform: capitalize;
    
}

#mappa {
    width: 50%;
    float: right;
    height: 60%;
    margin: 5px;
    border: 1px solid black;
}

footer {
    height: 200px;
    border: 1px solid black;
    width:auto;
    font-size:15px;
    text-align:center;
    background-color: #cccccc;
    border-radius: 5px;
    margin: 5px;
}