* {
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 3px;

}

body{
    height: 1500px;
}

header {
    height: 200px;
    background-color: #cccccc;
    margin: 5px;
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;

}

h1 {
    position:relative;
    top: 10%;
    text-align: center;
    width: 100%;
    margin:auto;
    color: #2727ce;

}
h1::first-letter {
    font-size: 24px;
    text-transform: uppercase
}

h2 {
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    color:#2727ce;
}

h2::first-letter {
    font-size: 24px;
    text-transform: uppercase
}

section {
    margin: 5px;
    border: 1px solid black;
    width: 100%;
    height: auto;
    border-radius:5px;
    text-align: center;

}

h3 {
    color: #2727ce;
    font-weight: bold;

}
#icona {
    width:16px;

}
section p {
    text-align: center;
    margin: auto;
}

table {
    width: 50%;
    height: auto;
    float: left;
    margin: 5px;

}

table th td {
    border: 1px solid black;
    padding: 3px;
    vertical-align: middle;
}

#mappa {
    width: 50%;
    float: right;
    height: auto;
    margin: 5px;

}

footer {
    height: 200px;
    border: 1px solid black;
    width:100%;
    font-size:15px;
    text-align:center;
    margin: 5px;
}